@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<SimpleStore.Models.User>

@{
    ViewBag.Title = "Гостевая страница";
}

@if (User.Identity.IsAuthenticated)
{
    ViewBag.Title = "Личный кабинет";

    var aUser = Model.FirstOrDefault(M => M.UserName == User.Identity.Name);

    if (aUser != null) // защита от достаточно критичной ошибки, на случай, если база данных обнулится, а аутификационные куки у пользователя останутся
    {
        <div class="user_panel">
            <a class="btn btn-sm btn-outline-dark" asp-action="MyOrders" asp-route-UserId="@aUser.Id">@Localizer["Мои покупки"]</a>
            <a class="btn btn-sm btn-outline-dark" asp-controller="Home" asp-action="Settings" asp-route-id="@aUser.Id">@Localizer["Настройки"]</a><br>
        </div>

        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
        {
            <div class="moder_panel">
                <a class="btn btn-sm btn-outline-primary" asp-controller="Booking" asp-action="Index">Заказы</a>
                <a class="btn btn-sm btn-outline-primary" asp-controller="EditShop" asp-action="Index">Модерация магазина</a><br>
            </div>
           
            @if (User.IsInRole("Admin"))
            {
                <div class="admin_panel">
                        <a class="btn btn-sm btn-outline-danger" asp-controller="Admin" asp-action="Index">Администрирование </a>
                 </div> 
            }
            
        }
    }
}

<div class="main_text_home">
    <h3>@Localizer["Title"]</h3>
</div>

@if (ViewBag.LastNews != null && CultureInfo.CurrentCulture.Name == "ru")
{
    <div class="news_block">
        <a class="news" asp-controller="News" asp-action="Show" asp-route-id="@ViewBag.LastNews.Id"><i><u>@ViewBag.LastNews.Title</u></i></a>
    </div>
}

<div class="menu_block">

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Phone">
            <img style='width:180px; height:180px;' src="~/img/Phone.jpg" /><br />
            @Localizer["Телефоны"]
        </a>
    </div>

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Case">
            <img style='width:180px; height:180px;' src="~/img/Case.jpg" /><br />
            @Localizer["Чехлы для телефонов"]
        </a>
    </div>

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Headphone">
            <img style='width:180px; height:180px;' src="~/img/Headphone.jpg" /><br />
            @Localizer["Наушники"]
        </a>
    </div>

    <div class="shop-element">
        <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Powerbank">
            <img style='width:180px; height:180px;' src="~/img/Powerbank.jpg" /><br />
            @Localizer["Powerbanks"]
        </a>
    </div>

</div>