@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

@{
    ViewBag.Title = "Покупки";
}

@if (User.Identity.IsAuthenticated)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                   @Localizer["Номер заказа"]
                </th>
                <th>
                    @Localizer["Название"]
                </th>
                <th>
                    @Localizer["Кол-во"]
                </th>
                <th>
                    @Localizer["Цена"]
                </th>
                <th>
                    @Localizer["Email"]
                </th>
                <th>
                    @Localizer["Телефон"]
                </th>
                <th>
                    @Localizer["ФИО"]
                </th>
                <th>
                    @Localizer["Адрес"]
                </th>
                <th>
                    @Localizer["Статус"]
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCount</td>
                <td>@item.ProductPrice₽</td>
                <td>@item.UserEmail</td>
                <td>@item.UserPhone</td>
                <td>@item.UserFullName</td>
                <td>@item.UserAddress</td>
                <td>
                    <b>
                        @switch (item.Status)
                        {
                            case "На рассмотрении":
                                @Localizer["На рассмотрении"];
                                break;
                            case "В сборке":
                                @Localizer["В сборке"];
                                break;
                            case "Отправлено":
                                @Localizer["Отправлено"];
                                break;
                            case "Исполнено":
                                @Localizer["Исполнено"];
                                break;
                            case "Отказано":
                                @Localizer["Отказано"];
                                break;
                        }
                    </b>
                </td>
            </tr>
        }
    </table>

    @if (Model.Orders.Count() > 0)
    {
        <page-link page-model="@Model.PageViewModel" page-action="MyOrders"
                   page-url-UserId="@Model.Orders.FirstOrDefault().UserId">
        </page-link>
    }
}