@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

@{
    ViewBag.Title = "Покупки";
}

@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <tr>
            <td>
                Номер заказа
            </td>
            <td>
                Название
            </td>
            <td>
                Кол-во
            </td>
            <td>
                Цена
            </td>
            <td>
                Email
            </td>
            <td>
                Телефон
            </td>
            <td>
                ФИО
            </td>
            <td>
                Адрес
            </td>
            <td>
                Статус
            </td>
        </tr>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCount</td>
                <td>@item.ProductPrice</td>
                <td>@item.UserEmail</td>
                <td>@item.UserPhone</td>
                <td>@item.UserFullName</td>
                <td>@item.UserAddress</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>

    @if (Model.Orders.Count() > 0)
    {
        <page-link page-model="@Model.PageViewModel" page-action="MyOrders"
                   page-url-UserId="@Model.Orders.FirstOrDefault().UserId">
        </page-link>
    }
}