@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

@{
    ViewBag.Title = "Покупки";
}

@if (User.Identity.IsAuthenticated)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Название
                </th>
                <th>
                    Кол-во
                </th>
                <th>
                    Цена
                </th>
                <th>
                    Email
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Статус
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCount</td>
                <td>@item.ProductPrice</td>
                <td>@item.UserEmail</td>
                <td>@item.UserPhone</td>
                <td>@item.UserFullName</td>
                <td>@item.UserAddress</td>
                <td><b>@item.Status</b></td>
            </tr>
        }
    </table>

    @if (Model.Orders.Count() > 0)
    {
        <page-link page-model="@Model.PageViewModel" page-action="MyOrders"
                   page-url-UserId="@Model.Orders.FirstOrDefault().UserId">
        </page-link>
    }
}