@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<SimpleStore.Models.User>

@{
    ViewBag.Title = "Settings Page";
}

<div class="settings_head">
    <h3>@Localizer["Title"]</h3>
</div>

@if (User.Identity.IsAuthenticated)
{
    var aUser = Model.FirstOrDefault(M => M.UserName == User.Identity.Name);

    <div class="settings">
        <a class="btn btn-sm btn-outline-dark space_set" asp-action="ChangeData" asp-route-id="@aUser.Id">@Localizer["Изменить данные пользователя"]</a><br>
        <a class="btn btn-sm btn-outline-dark space_set" asp-action="ChangeEmail" asp-route-id="@aUser.Id">@Localizer["Изменить электронный адрес"]</a><br>
        <a class="btn btn-sm btn-outline-dark space_set" asp-action="ChangePassword" asp-route-id="@aUser.Id">@Localizer["Изменить пароль"]</a><br>
        <a class="btn btn-sm btn-outline-secondary space_set" asp-action="Index" asp-route-id="@aUser.Id">@Localizer["Назад"]</a>
    </div>
}