@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

@{
    ViewBag.Title = "Админ-панель";
}

<a class="btn btn-sm btn-outline-primary" asp-action="CreateUser" asp-controller="Admin">Добавить пользователя</a>
<a class="btn btn-sm btn-outline-dark" asp-action="Roles">Управление ролями</a>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Название:</label>
        <input name="name" class="form-control form-control-sm" />
        <input class="btn btn-sm btn-outline-dark" type="submit" value="Найти" />
    </div>
</form>

<table class="table">
    <tr>
        <td>
            <a asp-action="Index" asp-controller="Admin"
               asp-route-sortOrder="@(Model.SortViewModel.EmailSort)"
               asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)">Email ⇕</a>
        </td>
        <td>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.PhoneSort)"
               asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)">Номер ⇕</a>
        </td>
        <td>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.NamesSort)"
               asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)">ФИО ⇕</a>
        </td>
        <td></td>
    </tr>

    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>@user.FullName</td>
            <td>
                <a class="btn btn-sm btn-outline-info" asp-action="EditUser" asp-route-id="@user.Id">Изменить</a>
                <a class="btn btn-sm btn-outline-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                <a class="btn btn-sm btn-outline-warning" asp-action="EditRole" asp-route-userid="@user.Id">Права доступа</a>
                <a class="btn btn-sm btn-outline-danger" asp-action="DeleteUser" asp-route-id="@user.Id">Удалить</a>
            </td>
        </tr>
    }
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
           page-url-sortOrder="@(Model.SortViewModel.Current)">
</page-link>