@model IEnumerable<SimpleStore.Models.User>

@{
    ViewBag.Title = "Список пользователей";
}

<a asp-action="Create" asp-controller="Admin">Добавить пользователя</a>

<table class="table">
    <tr>
    <th>Email</th>
    <th>Номер телефона</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th></th>
    </tr>
    @foreach (var user in Model)
     {
      <tr>
        <td>@user.Email</td>
        <td>@user.PhoneNumber</td>
        <td>@user.Name</td>
        <td>@user.Surname</td>
      <td>
        <a class="btn btn-sm btn-outline-info" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
        <a class="btn btn-sm btn-outline-warning" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
      </td>
      </tr>
     }
</table>