@model SimpleStore.Models.Shop.Product

@{
    ViewBag.Title = "Подтверждение покупки товара";
}

<h3>Вы подтверждаете заказ @Model.Name в количества @ViewBag.Count?</h3>

<form method="post" asp-action="Buy" asp-route-ProductId="@Model.Id" asp-route-UserId="@ViewBag.UserId" asp-route-Count="@ViewBag.Count">
    <input type="submit" value="Подтвердить" class="btn btn-success" />
    <a asp-action="Product" asp-route-type="@Model.Type" class="btn btn-secondary">Нет</a>
</form>