@model SimpleStore.Models.Product

@{
    ViewBag.Title = "Подтверждение покупки товара";
}

@if (ViewBag.Count > 0)
{

    double total_price = ViewBag.Count * Model.Price;
    
    if(ViewBag.preorder == "true")
    {
        <h3> Подтвердить предзаказ?</h3>
    }
    else
    { 
       <h3> Подтвердить заказ?</h3>
    }

    <p class="product-foto">
        <br />
        @if (Model.Image != null)
        {
            <img style='height: 400px; width: 400px;' src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Image))" /> <br />
        }
         else
        {
            <img style='height: 400px; width: 400px;' src="~/img/Question.jpg" /> <br />
        }
    </p>
    <p class="product">
        Название: @Model.Name <br /> Количество: @ViewBag.Count шт <br />Итоговая цена: @total_price руб <br />
    </p>

    <form method="post" asp-action="Buy">
        <input type="hidden" name="ProductId" value="@Model.Id">
        <input type="hidden" name="UserId" value="@ViewBag.UserId">
        <input type="hidden" name="Count" value="@ViewBag.Count">
        <input type="submit" value="Подтвердить" class="btn btn-success product-btn" />
        <a asp-action="Product" asp-route-type="@Model.Type" class="btn btn-secondary product-btn">Назад</a>
    </form>
}
else
{
    <h3>Количество товара в заказе не может быть меньше 1. Пожалуйста, проверьте правильность заказа. </h3>
    <a asp-action="Product" asp-route-type="@Model.Type" class="btn btn-secondary">Вернуться</a>
}