@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Все товары";
}

<h3 class="atten">@Localizer["Title"] </h3>

@if (ViewBag.LastNews != null && CultureInfo.CurrentCulture.Name == "ru")
{
    <a class="news" asp-controller="News" asp-action="Show" asp-route-id="@ViewBag.LastNews.Id"><i><u>@ViewBag.LastNews.Message</u></i></a>
}


<div>
    <a class="btn btn-lg btn-outline-dark MS-Phone" asp-controller="Shop" asp-action="Product" asp-route-type="Phone">
        <img style='width:180px; height:180px;' src="~/img/Phone.jpg" /><br />
        @Localizer["Телефоны"]
    </a>
</div>

<div>
    <a class="btn btn-lg btn-outline-dark MS-Headphone" asp-controller="Shop" asp-action="Product" asp-route-type="Headphone">
        <img style='width:180px; height:180px;' src="~/img/Headphone.jpg" /><br />
        @Localizer["Наушники"]
    </a>
</div>

<div>
    <a class="btn btn-lg btn-outline-dark MS-Case" asp-controller="Shop" asp-action="Product" asp-route-type="Case">
        <img style='width:180px; height:180px;' src="~/img/Case.jpg" /><br />
        @Localizer["Чехлы для телефонов"]
    </a>
</div>

<div>
    <a class="btn btn-lg btn-outline-dark MS-Powerbank" asp-controller="Shop" asp-action="Product" asp-route-type="Powerbank">
        <img style='width:180px; height:180px;' src="~/img/Powerbank.jpg" /><br />
        @Localizer["Powerbanks"]
    </a>
</div>