@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Все товары";
}


<div>
    <div class="main_text_shop">
        <h3>@Localizer["Title"]</h3>
    </div>

    @if (ViewBag.LastNews != null && CultureInfo.CurrentCulture.Name == "ru")
    {
        <div class="news_block_shop">
            <a class="news" asp-controller="News" asp-action="Show" asp-route-id="@ViewBag.LastNews.Id"><i><u>@ViewBag.LastNews.Title</u></i></a>
        </div>
    }

    <div class="menu_block_shop">

        <div class="shop-element">
            <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Phone">
                <img style='width:180px; height:180px;' src="~/img/Phone.jpg" /><br />
                @Localizer["Телефоны"]
            </a>
        </div>

        <div class="shop-element">
            <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Case">
                <img style='width:180px; height:180px;' src="~/img/Case.jpg" /><br />
                @Localizer["Чехлы для телефонов"]
            </a>
        </div>

        <div class="shop-element">
            <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Headphone">
                <img style='width:180px; height:180px;' src="~/img/Headphone.jpg" /><br />
                @Localizer["Наушники"]
            </a>
        </div>

        <div class="shop-element">
            <a class="btn btn-lg btn-outline-dark" asp-controller="Shop" asp-action="Product" asp-route-type="Powerbank">
                <img style='width:180px; height:180px;' src="~/img/Powerbank.jpg" /><br />
                @Localizer["Powerbanks"]
            </a>
        </div>

    </div>

</div>