@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

<div class="center_find_form_shop">
    <form method="get" asp-action="Product">
        <div class="form-inline form-group">
            <input type="hidden" name="type" value="@ViewBag.type" />
            <label class="control-label">@Localizer["Название:"]&nbsp;</label>
            <input name="name" class="form-control form-control-sm space_el" />
            <label class="control-label">@Localizer["Наличие:"]&nbsp;</label>
            <select name="aviability" class="space_el">
                <option value="Все">@Localizer["Все"]</option>
                <option value="В наличии">@Localizer["В наличии"]</option>
                <option value="Скоро будет в продаже">@Localizer["Скоро будет в продаже"]</option>
                <option value="Нет в наличии">@Localizer["Нет в наличии"]</option>
            </select>
            <input type="submit" value="@Localizer["Найти"]" class="btn btn-sm btn-outline-dark form-control" />
        </div>
    </form>
</div>    

@if (ViewBag.type == "Case" || ViewBag.type == "Headphone" || ViewBag.type == "Phone" || ViewBag.type == "Powerbank")
{
    ViewBag.Title = ViewBag.type + "s";

    <div class=" center_table">
        <div class="to_grid">
            <table class="table table-hover table-wrap">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <a asp-action="Product"
                               asp-route-type="@ViewBag.type"
                               asp-route-name="@(Model.FilterViewModel.SelectedNameOrEmail)"
                               asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)"
                               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"> @Localizer["Название⇕"]</a>
                        </th>

                        @if (ViewBag.type == "Phone")
                        {
                            <th>
                                <a asp-action="Product"
                                   asp-route-type="@ViewBag.type"
                                   asp-route-name="@(Model.FilterViewModel.SelectedNameOrEmail)"
                                   asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)"
                                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)">@Localizer["Компания⇕"]</a>
                            </th>
                        }
                        else if (ViewBag.type == "Powerbank")
                        {
                            <th>
                                <a asp-action="Product"
                                   asp-route-type="@ViewBag.type"
                                   asp-route-name="@(Model.FilterViewModel.SelectedNameOrEmail)"
                                   asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)"
                                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)">@Localizer["Ёмкость заряда⇕"]</a>
                            </th>
                        }

                        <th>
                            <a asp-action="Product"
                               asp-route-type="@ViewBag.type"
                               asp-route-name="@(Model.FilterViewModel.SelectedNameOrEmail)"
                               asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)"
                               asp-route-sortOrder="@(Model.SortViewModel.NameSort)">@Localizer["Цена⇕"]</a>
                        </th>
                        <th>@Localizer["Описание"]</th>
                        <th>@Localizer["Наличие"]</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Name</td>

                        @if (ViewBag.type == "Phone")
                        {
                            <td>@item.Company</td>
                        }

                        @if (ViewBag.type == "Powerbank")
                        {
                            <td>@item.Capacity</td>
                        }

                        <td>@item.Price₽</td>
                        <td class="word_br">@item.Description</td>
                        <td>@item.Availability</td>
                        <td>
                            @if (item.Image != null)
                            {
                                <img style='width:100px; height:100px;' src="data:image/jpeg;base64, @(Convert.ToBase64String(item.Image))" />
                            }
                            else
                            {
                                <img style='width:100px; height:100px;' src="~/img/Question.jpg" />
                            }
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                IEnumerable<User> aUsers = ViewBag.Users;
                                var aUser = aUsers.FirstOrDefault(M => M.UserName == User.Identity.Name);

                                <form method="get" asp-action="Buy">
                                    <div class="form-inline form-group">
                                        @switch (item.Availability)
                                        {
                                            case "В наличии":
                                                <label class="control-label">Кол-во:&nbsp;</label>
                                                <input type="number" name="ProductCount" class="form-control form-control-sm col-xl-2" />
                                                <input type="hidden" name="ProductId" value="@item.Id">
                                                <input type="hidden" name="UserId" value="@aUser.Id">
                                                <input type="submit" value="@Localizer["Купить"]" class="btn btn-sm btn-outline-success space_el_sh_b" />
                                                break;

                                            case "Скоро будет в продаже":
                                                <label class="control-label">Кол-во:&nbsp;</label>
                                                <input type="number" name="ProductCount" class="form-control form-control-sm col-xl-2" />
                                                <input type="hidden" name="ProductId" value="@item.Id">
                                                <input type="hidden" name="UserId" value="@aUser.Id">
                                                <input type="hidden" name="preorder" value="true">
                                                <input type="submit" value="@Localizer["Предзаказ"]" class="btn btn-sm btn-outline-success space_el_sh_b" />
                                                break;

                                            default:
                                                break;
                                        }
                                    </div>
                                </form>
                            }
                            else
                            {
                                @if (item.Availability == "В наличии")
                                {
                                    <a class="btn btn-sm btn-outline-success space_el_sh_b" asp-action="UnknownUser"
                                       asp-route-FullPath="@Context.Request.Path@Context.Request.QueryString">@Localizer["Купить"]</a>
                                }
                                else if (item.Availability == "Скоро будет в продаже")
                                {
                                    <a class="btn btn-sm btn-outline-success space_el_sh_b" asp-action="UnknownUser"
                                       asp-route-FullPath="@Context.Request.Path@Context.Request.QueryString">@Localizer["Предзаказ"]</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<page-link page-model="Model.PageViewModel" page-action="Product"
           page-url-type="@ViewBag.type"
           page-url-name="@(Model.FilterViewModel.SelectedNameOrEmail)"
           page-url-aviability="@(Model.FilterViewModel.SelectedAvailability)"
           page-url-sortOrder="@(Model.SortViewModel.Current)">
</page-link>

<div>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Назад</a>
</div>