@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

@{
    ViewBag.Title = "Настройка витрины телефонов";
}

<a asp-action="CreatePhone">Добавить товар</a>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Название:</label>
        <input name="name" class="form-control" />
        <label class="control-label">Наличие:</label>
        <select name="aviability">
            <option value="Все">Все</option>
            <option value="В наличии">В наличии</option>
            <option value="Скоро будет в продаже">Скоро будет в продаже</option>
            <option value="Нет в наличии">Нет в наличии</option>
        </select>
        <input type="submit" value="Найти" class="btn btn-outline-secondary" />
    </div>
</form>

<table class="table">
    <tr>
        <td>
            <a asp-action="Phone" asp-controller="EditShop"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)"> Название ⇕</a>
        </td>
        <td>
            <a asp-action="Phone"
               asp-route-sortOrder="@(Model.SortViewModel.CompanySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)">Компания ⇕</a>
        </td>
        <td>
            <a asp-action="Phone"
               asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-aviability="@(Model.FilterViewModel.SelectedAvailability)">Цена ⇕</a>
        </td>
        <td>Наличие</td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var item in Model.Phones)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Company</td>
    <td>@item.Price Руб</td>
    <td>@item.Availability</td>
    <td>
        @if (item.Image != null)
        {
            <img style='width:100px; height:100px;' src="data:image/jpeg;base64, @(Convert.ToBase64String(item.Image))" />
        }
        else
        {
            <img style='width:100px; height:100px;' src="~/img/Question.jpg" />
        }
    </td>
    <td>
        <a class="btn btn-sm btn-outline-info" asp-controller="EditShop" asp-action="EditPhone" asp-route-id="@item.Id">Изменить</a>
        <a class="btn btn-sm btn-outline-danger" asp-controller="EditShop" asp-action="DeletePhone" asp-route-id="@item.Id">Удалить</a>
    </td>
</tr>
    }
</table>

<page-link page-model="Model.PageViewModel" page-action="Phone"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-aviability="@(Model.FilterViewModel.SelectedAvailability)"
           page-url-sortOrder="@(Model.SortViewModel.Current)">
</page-link>