@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<SimpleStore.Models.Novelty>

@{
    ViewBag.Title = "Новости";
}

<h3 class="main_text_news">@Localizer["Title"]</h3>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
{
    <div class="form-group">
        <a class="btn btn-sm btn-outline-primary form-control" asp-action="Create">Создать новость</a>
    </div>
    
}

<div class="center_table">
    <div class="to_grid">
        <table class="table table-hover table-wrap ">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="word_br">
                        <a asp-action="Show" asp-route-id="@item.Id"><b><u>@item.Title</u></b></a>
                    </td>
                    <td>
                        @item.Date.ToString("f")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
                    {
                        <td>
                            <a class="btn btn-sm btn-outline-info space_btn" asp-action="Edit" asp-route-id="@item.Id"> Редактировать</a>
                            <a class="btn btn-sm btn-outline-danger space_btn" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>