@using Microsoft.AspNetCore.Identity
@model SimpleStore.ViewModels.Authorization.ChangeRoleViewModel

@{
    ViewBag.Title = "Назначение ролей";
}

<h3>Изменение ролей для пользователя @Model.UserEmail</h3>

<form method="post" asp-action="EditRole">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <button class="btn btn-success" type="submit">Сохранить</button>
    <a class="btn btn-primary" asp-action="Index">Назад</a>
</form>