@using SimpleStore.ViewModels.Supporting_tools
@addTagHelper *, SimpleStore
@model IndexViewModel

@{
    ViewBag.Title = "Заказы";
}

<form method="get" asp-action="Index">
    <div class="form-inline form-group">
        <label class="control-label">ID заказа:</label>
        <input name="id" class="form-control form-control-sm inp" />
        <label class="control-label">Email:</label>
        <input name="email" class="form-control form-control-sm inp" />
        <label class="control-label">Статус:</label>
        <select name="status" class="sel">
            <option value="Все">Все</option>
            <option value="На рассмотрении">На рассмотрении</option>
            <option value="В сборке">В сборке</option>
            <option value="Отправлено">Отправлено</option>
            <option value="Исполнено">Исполнено</option>
            <option value="Отказано">Отказано</option>
        </select>
        <input type="submit" value="Найти" class="btn btn-sm btn-outline-dark" />
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">ID</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.IdProductSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">ID_товара</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Название</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.CountSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Количество</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Цена</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.EmailSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Email</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.PhoneSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Телефон</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NamesSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">ФИО</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.AddressSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Адрес</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.StatusSort)"
                   asp-route-id="@(Model.FilterViewModel.SelectedId)"
                   asp-route-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
                   asp-route-status="@(Model.FilterViewModel.SelectedStatus)">Статус</a>
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCount</td>
                <td>@item.ProductPrice</td>
                <td>@item.UserEmail</td>
                <td>@item.UserPhone</td>
                <td>@item.UserFullName</td>
                <td>@item.UserAddress</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-sm btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                </td>
            </tr>
        }
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-sortOrder="@(Model.SortViewModel.Current)"
           page-url-id="@(Model.FilterViewModel.SelectedId)"
           page-url-email="@(Model.FilterViewModel.SelectedNameOrEmail)"
           page-url-status="@(Model.FilterViewModel.SelectedStatus)">
</page-link>